.content {
  flex-grow: 1;

  &__basic {
    padding: 24px 0;
  }

  &__main {
    width: 75%;

    &--wide {
      width: 100%;
    }
  }

  &__categories {
    max-width: 250px;
    width: 100%;
  }

  &__aside {
  }

}