.form {

  &__caption {
    text-align: center;
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__input {
    @include input-style;
  }

  &__select {
    @include input-style;
  }

  &__button {
  }

  &__file {
    @include input-style;
  }

  &__status {
    display: block;
    font-size: 12px;
    margin-top: 8px;

    &--error {
      color: $colorRed;
    }
    &--success {
      color: $colorBlue;
    }
  }
}