// Font-family

$fontMain: 'Roboto', sans-serif;

// Font-size //

$fintSizeXS: 12px;
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
$fontSizeXL: 24px;

// Theme colors

$colorMain: #333;
$colorWhite: #fff;
$colorWhiteTransparent: rgba(255, 255, 255, 0.5);
$colorRed: #b02121;
$colorOrange: #f095;
$colorRedTransparent: rgba(176, 33, 33, 0.7);
$colorBlue: #0b113c;

// Box-shadow

$BoxShadowMain: 0 10px 24px -5px rgba(0,0,0, 0.5);
$BoxShadowThin: 0 0 15px rgba(0, 0, 0, 0.4);